GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=$GOOGLE_CLOUD_PROJECT
GOOGLE_CLOUD_LOCATION=$GOOGLE_CLOUD_LOCATION
RESOURCES_BUCKET=$GOOGLE_CLOUD_PROJECT-bucket
MODEL=gemini-2.5-flash
SEARCH_ENGINE_ID=$SEARCH_ENGINE_ID
